@{
    ViewData["Title"] = "Home Page";
    ViewBag.title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Internauta!!!</h1>












    @if(ViewBag.usuario!=null) {
        <a href="https://github.com/SClasen95/VideoEdit/archive/main.zip" target="_blank">¡¡¡Hace click aca para descargar la aplicacion!!!</a>
    }
</div>
    